<section class="orders-show">

  <header class="page-header">
    <h1>Thank you for your Order! <%= @order.id %></h1>
    <p>Order Confirmation Sent to <%= @order.email %>!</h4>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Products</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
      </thead>
      
      <tbody>
      <% @line_items.each do |item| %>
        <%= render 'line_item', product: item.product, quantity: item.quantity, price: item.item_price_cents, total: item.total_price_cents %>
      <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th
          <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
      </tbody>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
